# This is a basic workflow to help you get started with Actions

name: client driver

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab

# A workflow run is made up of one or more jobs that can run sequentially or in parallel

  # This workflow contains a single job called "build"
jobs:
  push_to_registry:
    name: Start Client Session 
    runs-on: ubuntu-latest
    steps:
     - name: Set up QEMU
       uses: docker/setup-qemu-action@v1
    
     - name: Set up Docker Buildx
       uses: docker/setup-buildx-action@v1
      
     - name: Login to DockerHub
       uses: docker/login-action@v1 
       with:
          username: ${{ secrets.DOCKER_USER }} 
          password: ${{ secrets.DOCKER_PASS }} 
      
     - name: Build Client Session
       id: docker_build
       uses: docker/build-push-action@v2
       with:
         push: true
         tags: fruitbox12/sample:latest
         
     - name: Run Client Session
       uses: addnab/docker-run-action@v3
       with:
         image: fruitbox12/sample:latest
         run: ansible-playbook -i inventory deploy.yml -vv
