name: Test Action

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-remote:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Test remote
        uses: ./
        with:
          playbook: playbook.yml
          directory: scripts
